header
{
background-image:radial-gradient(#fd1d1d,#fc9d40) ;
width: 100%;
height:100px;
float: left;
position: absolute;
    white-space: nowrap;
    overflow: hidden;

}
.logo{
    height:80px;
    margin-top: 10px;
    margin-left:30px;
   
    
    
}

.icon-fb{
    padding:06px;
   margin-top:1px;
     height:55px;
     
     margin-left:1000px;


}
.icon-insta{
    height:45px;
    padding:10px;
    margin-left: 38px;
    


}
.icon-location{
    height:40px;
    padding:14px;
    margin-left: 35px;

}
.icon-website{
    margin-left: 20px;
    padding:18px;
    height:35px;


}
.icon-whatsapp{
    margin-left:29px;
    padding:14px;
    height:42px;


}
